node_modules
.next
out
dist
build
.DS_Store
.env
.env.local
.env.development
.env.test
!.env.production
*.log
*.lock
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.bak
*.tmp
*.cache
*.tsbuildinfo
coverage
*.zip
*.tar.gz
*.tgz
*.7z
*.rar
*.gz
*.bz2
*.pid
*.seed
*.pid.lock